*{
    margin: 0 ;
    padding: 0;
    text-transform: capitalize;
    font-family: sans-serif;
}
.main-div{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.neon{
    color: white;
    font-size: 10rem;
    border: 5px solid white;
    padding: 2.5rem;
    text-shadow: 0 0 5px #ff7bac,
    0 0 5px #ff7bac,
    0 0 10px #ff7bac,
    0 0 20px #ff7bac,
    0 0 40px #ff7bac,
    0 0 60px #ff7bac,
    0 0 80px #ff7bac,
    0 0 100px #ff7bac;
    box-shadow: 
    0 0 5px #fff,
    inset 0 0 5px #fff,
    0 0 10px #08f,
    inset 0 0 10px #08f,
    0 0 10px #08f,
    inset 0 0 10px #08f,
    0 0 15px #08f,
    inset 0 0 15px #08f,
    0 0 20px #08f,
    inset 0 0 20px #08f,
    0 0 25px #08f,
    inset 0 0 25px #08f;
}